{{ ansible_managed | comment }}

createUser {{ install_server_snmp.snmp_user }} SHA {{ install_server_snmp.snmp_password }} AES {{ install_server_snmp.snmp_encryption }}

rouser {{ install_server_snmp.snmp_user }} priv
{% if install_server_snmp.snmp_agent_address_address.ipv4 is defined and install_server_snmp.snmp_agent_address_address.ipv4 is not empty %}
agentAddress  {{ install_server_snmp.snmp_agent_address_protocol.ipv4 }}:{{ install_server_snmp.snmp_agent_address_address.ipv4 }}:{{ install_server_snmp.snmp_agent_address_port.ipv4 }}
{% endif %}
{% if install_server_snmp.snmp_agent_address_address.ipv6 is defined and install_server_snmp.snmp_agent_address_address.ipv6 is not empty %}
agentAddress {{ install_server_snmp.snmp_agent_address_protocol.ipv6 }}:{{ install_server_snmp.snmp_agent_address_address.ipv6 }}:{{ install_server_snmp.snmp_agent_address_port.ipv6 }}
{% endif %}

{% if install_server_snmp.snmp_location is defined and install_server_snmp.snmp_location is not empty %}
sysLocation {{ install_server_snmp.snmp_location }}
{% endif %}
sysName {{ ansible_fqdn }}
{% if install_server_snmp.snmp_contact is defined and install_server_snmp.snmp_contact is not empty %}
sysContact {{ install_server_snmp.snmp_contact }}
{% endif %}

{% for item in install_server_snmp.snmp_extension_list %}
extend {{ item.extend }}
{% endfor %}
{% if "pve" in ansible_kernel %}
extend {{ install_server_snmp.snmp_extension_proxmox.extend }}
{% endif %}
