# -- general -------------------------------------------------------------------
unbind C-b
unbind C-y
set -g prefix C-y # Change prefix to Ctrl+y
bind C-y send-prefix

# -- scripts -------------------------------------------------------------------
bind-key -r i run-shell "tmux neww tmux-cht"
bind-key -r f run-shell "tmux neww tmux-sessionizer"

# -- display -------------------------------------------------------------------
# clear both screen and history
bind -n C-l send-keys C-l \; run 'sleep 0.2' \; clear-history

# -- navigation ----------------------------------------------------------------
bind C-c new-session # Create a new session
bind C-f command-prompt -p find-session 'switch-client -t %%' # Find and switch to a session
bind BTab switch-client -l # Move to the last session

# -- window splits -------------------------------------------------------------
# Unbind + Rebind window splits
unbind %
unbind '"'
bind - split-window -v -c "#{pane_current_path}" # Split window horizontally
bind _ split-window -h -c "#{pane_current_path}" # Split window vertically
bind c new-window -c "#{pane_current_path}" # Open a new window

# -- pane navigation and resizing ----------------------------------------------
bind -r h select-pane -L # Move left
bind -r j select-pane -D # Move down
bind -r k select-pane -U # Move up
bind -r l select-pane -R # Move right
bind > swap-pane -D # Swap with the next pane
bind < swap-pane -U # Swap with the previous pane

# maximize current pane
unbind z
bind -r + resize-pane -Z # Maximize current pane

# pane resizing
bind -r H resize-pane -L 2 # Resize left
bind -r J resize-pane -D 2 # Resize down
bind -r K resize-pane -U 2 # Resize up
bind -r L resize-pane -R 2 # Resize right

# -- window navigation ---------------------------------------------------------
unbind n
unbind p
bind -r C-h previous-window # select previous window
bind -r C-l next-window     # select next window
bind Tab last-window        # move to last active window

# -- copy mode -----------------------------------------------------------------
bind Enter copy-mode # enter copy mode

bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi C-v send -X rectangle-toggle
bind -T copy-mode-vi y send -X copy-selection-and-cancel
bind -T copy-mode-vi Escape send -X cancel
bind -T copy-mode-vi H send -X start-of-line
bind -T copy-mode-vi L send -X end-of-line

# -- buffers -------------------------------------------------------------------
bind b list-buffers     # list paste buffers
bind p paste-buffer -p  # paste from the top paste buffer
bind P choose-buffer    # choose which buffer to paste from
