#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

main() {
  selected=$({
    echo "${TMUX_LANGUAGES[@]}" | tr ' ' '\n'
    echo "${TMUX_COMMANDS[@]}" | tr ' ' '\n'
  } | fzf)
  if [[ -z $selected ]]; then
    exit 0
  fi

  read -rp "Enter Query: " query

  if [[ "${TMUX_LANGUAGES[*]}" =~ $selected ]]; then
    query=$(echo "$query" | tr ' ' '+')
    tmux neww bash -c "echo \"curl cht.sh/$selected/$query/\" & curl cht.sh/$selected/$query & while [ : ]; do sleep 1; done"
  else
    tmux neww bash -c "curl -s cht.sh/$selected~$query | less"
  fi
}

TMUX_LANGUAGES=(
  "golang"
  "solidity"
  "vlang"
  "v"
  "nodejs"
  "javascript"
  "tmux"
  "typescript"
  "zsh"
  "cpp"
  "c"
  "lua"
  "rust"
  "python"
  "bash"
  "php"
  "haskell"
  "ArnoldC"
  "css"
  "html"
  "gdb"
)

TMUX_COMMANDS=(
  find
  man
  tldr
  sed
  awk
  tr
  cp
  ls
  grep
  xargs
  rg
  ps
  mv
  kill
  lsof
  less
  head
  tail
  tar
  cp
  rm
  rename
  jq
  cat
  ssh
  cargo
  git
  git-worktree
  git-status
  git-commit
  git-rebase
  docker
  docker-compose
  stow
  chmod
  chown
  make
)

main
