return {
  {
    'L3MON4D3/LuaSnip',
    dependencies = {
      "rafamadriz/friendly-snippets",
    },
    version = "v2.*",
    build = "make install_jsregexp",
    config = function()
      local ls = require("luasnip")
      ls.filetype_extend("lua", { "luadoc" })
      ls.filetype_extend("python", { "pydoc" })
      ls.filetype_extend("rust", { "rustdoc" })
      ls.filetype_extend("sh", { "shelldoc" })

      vim.keymap.set({ "i" }, "<C-K>", function() ls.expand() end, { silent = true })
      vim.keymap.set({ "i", "s" }, "<C-L>", function() ls.jump(1) end, { silent = true })
      vim.keymap.set({ "i", "s" }, "<C-J>", function() ls.jump(-1) end, { silent = true })

      vim.keymap.set({ "i", "s" }, "<C-E>", function()
        if ls.choice_active() then
          ls.change_choice(1)
        end
      end, { silent = true })
    end
  },
  {
    "danymat/neogen",
    dependencies = {
      "nvim-treesitter/nvim-treesitter",
      'L3MON4D3/LuaSnip',
    },
    version = "*",
    config = function()
      local neogen = require('neogen').setup({
        snippet_engine = "luasnip"
      })

      vim.keymap.set("n", "<leader>nf", function()
        neogen.generate({ type = "func" })
      end)
      vim.keymap.set("n", "<leader>nt", function()
        neogen.generate({ type = "type" })
      end)
      vim.keymap.set("n", "<leader>nd", function()
        neogen.generate({ type = "typedef" })
      end)
    end
  }
}
